DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/name_db
SECRET_KEY=сгенирированный хеш
REFRESH_SECRET_KEY=сгенирированный хеш
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
APP_NAME="D4 Technologies"
DEBUG=True